<section class="activity_head">
  <%= _.template(require('./header.html'))() %>
  <div class="main_header_block">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12 col-sm-6 col-xl-7 col-lg-7">
          <div class="main_descr_activity">
            <h3>The game</h3>
            <h2>Наши мероприятия</h2>
            <p>The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="activity_team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 team_wrap">
        <div class="team_descr">
          <h3>мероприятия</h3>
          <h2>корпоративы</h2>
          <p>The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd.</p>
          <p>The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you.</p>
        </div>
      </div>
      <div class="col-md-4 activity_content_bg"></div>
    </div>
  </div>
</section>
<section class="activity_team_2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 activity_content_bg_2"></div>
      <div class="col-md-8 team_wrap">
        <div class="team_descr">
          <h3>мероприятия</h3>
          <h2>дни рождения</h2>
          <p>The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd.</p>
          <p>The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<%= _.template(require('./footer.html'))() %>
<%= _.template(require('./modal.html'))() %>
