<section class="faq_head">
  <%= _.template(require('./header.html'))() %>
  <div class="main_header_block">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12 col-sm-6 col-xl-12 col-lg-12">
          <div class="faq_descr_activity">
            <h3>city puzzle</h3>
            <h2>ответы и вопросы</h2>
            <p>Here are the most common questions you have asked us. Contact us if you have any other questions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="faq_content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li class="accordion">1)Can I play during the COVID-19 crisis?</li>
          <div class="panel">
            <p>Start your game within the time slot, as indicated within the listing. (eg. if the game listing states, 'Start time: Sun 12pm-3pm' then send the start message after 12pm, and by 3pm.) Certain games have limited availability to avoid overwhelming locations en route. For these game you'll be asked to pick a date and time when booking. Other games can be started within the time slot stated on their booking page any day within 90 days.</p>
            <p>The latest start time assumes you take no longer than the maximum duration. 90% of players complete the game within the maximum duration. If you want to play at a more leisurely pace, then start at least an hour before the latest start time.</p>
          </div>
          <li class="accordion">2)When can I play HiddenCity?</li>
          <div class="panel">
            <p>Start your game within the time slot, as indicated within the listing. (eg. if the game listing states, 'Start time: Sun 12pm-3pm' then send the start message after 12pm, and by 3pm.) Certain games have limited availability to avoid overwhelming locations en route. For these game you'll be asked to pick a date and time when booking. Other games can be started within the time slot stated on their booking page any day within 90 days.</p>
            <p>The latest start time assumes you take no longer than the maximum duration. 90% of players complete the game within the maximum duration. If you want to play at a more leisurely pace, then start at least an hour before the latest start time.</p>
          </div>
          <li class="accordion">3)What number do I send the ‘start’ message to?</li>
          <div class="panel">
            <p>Start your game within the time slot, as indicated within the listing. (eg. if the game listing states, 'Start time: Sun 12pm-3pm' then send the start message after 12pm, and by 3pm.) Certain games have limited availability to avoid overwhelming locations en route. For these game you'll be asked to pick a date and time when booking. Other games can be started within the time slot stated on their booking page any day within 90 days.</p>
            <p>The latest start time assumes you take no longer than the maximum duration. 90% of players complete the game within the maximum duration. If you want to play at a more leisurely pace, then start at least an hour before the latest start time.</p>
          </div>
          <li class="accordion">4)How do I sign in to ‘My Game’?</li>
          <div class="panel">
            <p>Start your game within the time slot, as indicated within the listing. (eg. if the game listing states, 'Start time: Sun 12pm-3pm' then send the start message after 12pm, and by 3pm.) Certain games have limited availability to avoid overwhelming locations en route. For these game you'll be asked to pick a date and time when booking. Other games can be started within the time slot stated on their booking page any day within 90 days.</p>
            <p>The latest start time assumes you take no longer than the maximum duration. 90% of players complete the game within the maximum duration. If you want to play at a more leisurely pace, then start at least an hour before the latest start time.</p>
          </div>
          <li class="accordion">5)Can I change my team details after I have signed up?</li>
          <div class="panel">
            <p>Start your game within the time slot, as indicated within the listing. (eg. if the game listing states, 'Start time: Sun 12pm-3pm' then send the start message after 12pm, and by 3pm.) Certain games have limited availability to avoid overwhelming locations en route. For these game you'll be asked to pick a date and time when booking. Other games can be started within the time slot stated on their booking page any day within 90 days.</p>
            <p>The latest start time assumes you take no longer than the maximum duration. 90% of players complete the game within the maximum duration. If you want to play at a more leisurely pace, then start at least an hour before the latest start time.</p>
          </div>
          <li class="accordion">6)How can I add another player or team after booking?</li>
          <div class="panel">
            <p>Start your game within the time slot, as indicated within the listing. (eg. if the game listing states, 'Start time: Sun 12pm-3pm' then send the start message after 12pm, and by 3pm.) Certain games have limited availability to avoid overwhelming locations en route. For these game you'll be asked to pick a date and time when booking. Other games can be started within the time slot stated on their booking page any day within 90 days.</p>
            <p>The latest start time assumes you take no longer than the maximum duration. 90% of players complete the game within the maximum duration. If you want to play at a more leisurely pace, then start at least an hour before the latest start time.</p>
          </div>
          <li class="accordion">7)If we play with multiple teams, will they follow each other?</li>
          <div class="panel">
            <p>Start your game within the time slot, as indicated within the listing. (eg. if the game listing states, 'Start time: Sun 12pm-3pm' then send the start message after 12pm, and by 3pm.) Certain games have limited availability to avoid overwhelming locations en route. For these game you'll be asked to pick a date and time when booking. Other games can be started within the time slot stated on their booking page any day within 90 days.</p>
            <p>The latest start time assumes you take no longer than the maximum duration. 90% of players complete the game within the maximum duration. If you want to play at a more leisurely pace, then start at least an hour before the latest start time.</p>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
<%= _.template(require('./footer.html'))() %>
<%= _.template(require('./modal.html'))() %>

