<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-lg-12">
        <h3 class="email">E-mail</h3>
        <h2>citypuzzle@mail.ru</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-4 col-sm-4 col-xl-4 col-lg-4">
        <a class="contact_us">Обратная связь</a>
      </div>
      <div class="col-md-4 col-4 col-sm-4 col-xl-4 col-lg-4">
        <h3 class="copyright">© 2020 Сity Puzzle. Все права защищены.</h3>
      </div>
      <div class="col-md-4 col-4 col-sm-4 col-xl-4 col-lg-4">
        <div class="soc_block">
          <a href="#"><img src="./img/face.png" alt=""></a>
          <a href="#"><img src="./img/insta.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>