<section class="game_head">
  <%= _.template(require('./header.html'))() %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 game_wrap">
        <div class="game_title">
          <h3>The game</h3>
          <h2>The hunt for
            the chester cat</h2>
          <div class="game_cost">
            <span>25$</span>
            <a class="game_video" href="#">Смотреть видео</a>
          </div>
          <p>The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd. The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd.</p>
          <p>The Cheshire Cat has come to London to test if you, like Alice, can make sense of absurdity in the world around you. Your challenge is to find him on an adventure into the strange, surreal and absurd.</p>
        </div>
      </div>
      <div class="col-md-6 game_wrap game_wrap_2">
        <div class="game_select">
          <div class="game_select_title">
            <span>1</span><h2 class="game_select_h2">Select a date</h2>
            <p>If your plans change, you can change your booking date, too, any time after you've booked.</p>
          </div>
          <div id="app"></div>
          <div class="app_info">
            <div class="close_day">
              <img src="img/close_day.png" alt="" /><span>Забронировано</span>
            </div>
            <div class="info_day">
              <img src="img/info.png" alt="" /><span>Выберите из свободных дат</span>
            </div>
          </div>
          <div class="app_info time_info">
            <div class="app_time_click">
              <span>Дата: 9 июля 2020 года</span>
            </div>
            <div class="app_time_click">
              <a class="time_edit" href="#"><img src="img/edit_icon.png" alt="" /></a><span>Время с 11:00 до 12:30</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team_descr">
  <div class="container">
    <div class="row">
      <div class="col-md-6 team_wrap">
        <div class="game_select_title">
          <span>2</span><h2>Create team</h2>
          <div class="team_edit_name">Team 1</div>
          <p class="game_p">If your plans change, you can change your booking date, too, any time after you've booked.</p>
        </div>
        <form class='team_form'>
          <div class="team_inputs">
            <div class="team_inputs_descr">
              <h3>Количество игроков</h3>
              <select name="team_people" class="team_people">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>
            <div class="team_inputs_descr">
              <h3>Team Name</h3>
              <input class="team_name" type="text" placeholder="">
            </div>
          </div>
          <div class="team_inputs">
            <div class="team_inputs_descr">
              <h3>Captain First Name</h3>
              <input class="first_name" type="text" placeholder="">
            </div>
            <div class="team_inputs_descr">
              <h3>Captain Last Name</h3>
              <input class="last_name" type="text" placeholder="">
            </div>
          </div>
          <div class="team_inputs">
            <div class="team_inputs_descr">
              <h3>Mobile Number</h3>
              <input class="mobile_number" type="text" placeholder="">
            </div>
            <div class="team_inputs_descr">
              <h3>Contact Email</h3>
              <input class="email" type="email" placeholder="">
            </div>
          </div>
          <button class="team_btn" type="submit">Добавить команду</button>
        </form>
      </div>
      <div class="col-md-6 team_wrap">
        <div class="game_select_title">
          <h2 class="pt_h2">Your teams</h2>
        </div>
        <div class="team_list">
          <ul class="list">
          </ul>
          <button class="reservation_btn">Забронировать</button>
        </div>
      </div>
    </div>
    <button class="save_edit ">Сохранить изменения</button>
  </div>
</section>

<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Выберите свободное время</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="time_a_wrap">
          <a class="time_a time_active" href="#">10:00</a>
          <a class="time_a" href="#">11:30</a>
          <a class="time_a" href="#">13:00</a>
          <a class="time_a" href="#">14:30</a>
          <a class="time_a" href="#">16:00</a>
          <a class="time_a" href="#">17:30</a>
        </div>
      </div>
      <div class="modal-footer">
        <p class="time_p">Игра длится 1час 30 минут</p>
        <button class="btn_success time_click">Выбрать</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="videoModal_game" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Видео</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe class="video" width="100%" height="520" src="https://www.youtube.com/embed/qvBX9VgPGSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 600px!important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title reservation_title_modal" id="exampleModalLongTitle">
          <div class="game_select_title reservation_title_ml">
            <span>3</span><h2>Your final details</h2>
          </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="reservation_modal_block">
          <div class="reservation_wrap">
            <h3>Game Selected</h3>
            <p>The Hunt for the Cheshire Cat</p>
          </div>
          <div class="reservation_wrap">
            <h3>Date and Time</h3>
            <p>Thu 9th Jul 2020
              Start your game after 11:00 and before 16:30.</p>
          </div>
          <div class="reservation_wrap">
            <h3>Number of teams</h3>
            <p>2</p>
          </div>
          <div class="reservation_wrap">
            <h3>Total number of players</h3>
            <p>8</p>
          </div>
          <div class="reservation_wrap">
            <h2>Total Cost: 25$</h2>
          </div>
          <div class="reservation_wrap">
            <h4>Have you played HiddenCity before?*</h4>
            <div class="select">
              <select>
                <option value="">Lorem ipsum dolor sit</option>
                <option value="">Lorem ipsum dolor sit</option>
                <option value="">Lorem ipsum dolor sit</option>
              </select>
            </div>            
          </div>
          <div class="reservation_wrap">
            <h4>How did you hear about The Hunt for the Cheshire Cat?*</h4>
            <div class="select">
              <select>
                <option value="">Lorem ipsum dolor sit</option>
                <option value="">Lorem ipsum dolor sit</option>
                <option value="">Lorem ipsum dolor sit</option>
              </select>
            </div>
          </div>
          <div class="reservation_wrap">
            <div class="page__toggle">
              <label class="toggle">
                <input class="toggle__input" type="checkbox">
                <span class="toggle__label">
                  <span class="toggle__text">I want to be invited to HiddenCity experiences.</span>
                </span>
              </label>
            </div>
          </div>
          <div class="reservation_wrap">
            <div class="page__toggle">
              <label class="toggle">
                <input class="toggle__input" type="checkbox">
                <span class="toggle__label">
                  <span class="toggle__text">I have been provided with the privacy policy.*</span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn_success reservation_btn_modal">Оплатить</button>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./footer.html'))() %>
<%= _.template(require('./modal.html'))() %>