<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="videoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Видео</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="520" src="https://www.youtube.com/embed/qvBX9VgPGSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sertificateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Сертификат</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal_p">Для покупки сертификата
          отправьте нам ваши данные
          и мы с вами свяжемся</p>
        <div class="input_descr">
          <h3>Имя</h3>
          <input type="text" placeholder="Евгений">
        </div>
        <div class="input_descr">
          <h3>Телефон</h3>
          <input type="text" placeholder="+7 555 656 20 25">
        </div>
        <div class="input_descr">
          <h3>Email</h3>
          <input type="text" placeholder="hardchehelrih@gmail.com|">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn_success">Отправить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="tocontactUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Обратная связь</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input_descr">
          <h3>Имя</h3>
          <input type="text" placeholder="Евгений">
        </div>
        <div class="input_descr">
          <h3>Телефон</h3>
          <input type="text" placeholder="+7 555 656 20 25">
        </div>
        <div class="input_descr">
          <h3>Email</h3>
          <input type="text" placeholder="hardchehelrih@gmail.com|">
        </div>
        <div class="textarea_descr">
          <h3>Текст</h3>
          <textarea name="" id="" cols="10" rows="4"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn_success">Отправить</button>
      </div>
    </div>
  </div>
</div>