@import 'mixins';
@import 'variables';
.pt_h2{
  padding-top: 10px;
}
.team_edit_name{
  display: none;
  font-family: 'Heading Pro';
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFEFE;
  background-color: $orange;
  padding: 10px 16px;
  margin: 15px 0px;
  width: 100%;
}
.save_edit{
  display: none;
  font-family: 'GT Walsheim Pro';
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  background: $orange;
  padding: 10px;
  border: none;
}
.reservation_btn{
  font-family: 'GT Walsheim Pro';
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  background: $orange;
  padding: 10px;
  border: none;
}
.white_delete{
  display: none;
}
.team_list{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 380px;
    overflow: auto;
    li{
      background: rgba(30, 33, 42, 0.6);
      border: 1px solid #FF6600;
      box-sizing: border-box;
      backdrop-filter: blur(4px);
      margin-top: 15px;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-family: 'Heading Pro';
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #FFFEFE;
      .edit{
        padding-right: 15px;
      }
    }
  }
}
.team_btn{
  border: 1px solid #FF6600;
  box-sizing: border-box;
  font-family: 'GT Walsheim Pro';
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  color: $orange;
  padding: 10px 0px;
  background: transparent;
  display: flex;
  justify-content: center;
}
.team_descr{
  background: #1E212A;
  background-image: url('../img/team_bg.png');
  background-repeat: no-repeat;
  background-position-x: right;
  min-height: 580px;
}
.team_inputs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  .team_inputs_descr{
    h3{
      font-family: 'GT Walsheim Pro';
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF;
      padding-bottom: 5px;
    }
    input{
      border: 1px solid #FF6600;
      box-sizing: border-box;
      font-family: 'GT Walsheim Pro';
      font-size: 16px;
      line-height: 131.77%;
      color: $orange;
      padding: 10px 20px;
      background: transparent;
    }
    select{
      padding: 7px 75px 7px 10px;
      border: 1px solid #FF6600;
      box-sizing: border-box;
      background: transparent;
      font-family: 'GT Walsheim Pro';
      font-size: 16px;
      line-height: 131.77%;
      color: $orange;
      position: relative;
    }
  }
}
.team_wrap{
  padding-top: 40px;
}
.app_time_click{
  span{
    font-family: 'GT Walsheim Pro';
    font-size: 16px;
    line-height: 18px;
    color: $orange;
  }
  a{
    padding-right: 15px;
  }
}
.time_a_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 132px;
}
.time_active{
  background: $orange!important;
  border: 3px solid #FFFFFF!important;
  box-sizing: border-box;
  color: #fff!important;
  text-decoration: none;
  backdrop-filter: blur(4px)!important;  
}
.time_a{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(30, 33, 42, 0.6);
  border: 1px solid #FF6600;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  padding: 15px;
  height: 50px;
  width: 100%;
  font-family: 'Heading Pro';
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: $orange;
  margin: 20px;
  &:hover{
    background: $orange;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    backdrop-filter: blur(4px);
  }
}
.time_p{
  color: #fff;
  font-family: 'Heading Pro';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.info_day{
  display: flex;
  align-items: center;
 img{
  padding-right: 10px;
 }
 span{
  font-family: 'GT Walsheim Pro';
  font-size: 16px;
  line-height: 18px;
  color: $orange;
 }
}
.close_day{
  display: flex;
  align-items: center;
 img{
  padding-right: 10px;
 }
 span{
  font-family: 'GT Walsheim Pro';
  font-size: 16px;
  line-height: 18px;
  color: #fff;
 }
}
.app_info{
  background: #1E212A;
  margin-top: 10px;
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.time_info{
  display: none;
}
.calendar_wrap{
  padding: 0px!important;
}
.video{
  margin-top: 25px;
}
.days_close{
  background: #7B0707;
  border: 1px solid #7B0707!important;
}
.game_head{
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 840px;
  padding-top: 16px;
  position: relative;
  .game_wrap{
    display: flex;
    min-height: 840px;
  }
  &::before{
    content: '';
    position: absolute;
    width: 86px;
    height: 36px;
    left: 0px;
    top: 110px;
    background: $orange;
  }
  &::after{
    content: '';
    position: absolute;
    width: 350px;
    height: 52px;
    left: 0;
    top: 51%;
    background: $orange;  
  }
  .game_title{
    align-self: center;
    .game_cost{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h3{
      font-family: 'Heading Pro';
      font-weight: 800;
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: $orange;
    }
    h2{
      font-family: 'Heading Pro';
      font-weight: 800;
      font-size: 90px;
      line-height: 100px;
      text-transform: uppercase;
      color: #FFFFFF;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 380px;
        height: 16px;
        background: $orange;
        bottom: 25%;
        left: 1%;
      }
    }
    span{
      margin-left: 65px;
      font-family: 'GT Walsheim Pro';
      font-weight: bold;
      font-size: 40px;
      line-height: 46px;
      color: #FFFFFF;
      z-index: 1;
    }
    p{
      font-family: 'GT Walsheim Pro';
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      color: #6F7486;
      margin-top: 30px;
    }
    a{
      display: flex;
      justify-content: flex-end;
      font-family: 'GT Walsheim Pro';
      font-size: 25px;
      line-height: 34px;
      text-align: center;
      text-decoration-line: underline;
      color: $orange;
    }
  }
}
.reservation_btn_modal{
  width: 100%;
  margin: 0px 34px!important;
}
.reservation_modal_block{
  padding-top: 30px;
}
.reservation_wrap{
  padding-top: 15px;
  padding-left: 30px;
  h3{
    font-family: 'GT Walsheim Pro';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
  }
  p{
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #6F7486;
  }
  h2{
    font-family: 'GT Walsheim Pro';
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
  }
  h4{
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .select {
    position: relative;
    display: inline-block;
  }
  .select:after {
    content: "▼";
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 15px;
    color: $orange;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }
  select{
    border: 1px solid #FF6600;
    box-sizing: border-box;
    background: transparent;
    font-family: 'GT Walsheim Pro';
    font-size: 16px;
    padding: 13px 16px;
    line-height: 131.77%;
    color: #979797;
    width: 405px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.reservation_title_ml{
  margin-left: -70px;
}
.reservation_title_modal{
  padding-left: 0px!important;
}
.reservation_title{
  h2{
    padding-left: 15px;
    font-family: 'Heading Pro';
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    display: inline-flex;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $orange;
  }
  span{
    display: inline-flex;
    border: 1px solid $orange;
    box-sizing: border-box;
    font-family: Heading Pro;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $orange;
    border-radius: 50%;
    padding: 10px 14px 5px 20px;
  }
}

.game_select_title{
  h2{
    padding-left: 15px;
    font-family: 'Heading Pro';
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    display: inline-flex;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $orange;
  }
  span{
    display: inline-flex;
    border: 1px solid $orange;
    box-sizing: border-box;
    font-family: Heading Pro;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $orange;
    border-radius: 50%;
    padding: 10px 14px 5px 20px;
  }
  p{
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #6F7486;
    padding-top: 10px;
  }
}

.game_wrap_2{
  flex-direction: column;
  justify-content: center;
}

.bg_border{
  border: 1px solid #fff!important;
}

$breakpoint-tablet: 767px;
.page-hero{
    h3{font-size: 3rem;font-weight: bold;text-shadow: -1px -1px 1px #460000,2px 2px 1px #ff4965;text-transform: uppercase;color: #bd122d;}
    p{color: #f1acb7;}
}
.card{
  background-color: transparent!important;
  border: 1px solid $orange!important;
  overflow: hidden;
    &-header{ 
      color: #fff;
      background-color: transparent!important;
      border-bottom: 1px solid $orange!important;
      font-family: 'GT Walsheim Pro';
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: $orange;
        .prevMonth{
          cursor: pointer;
          font-size: 38px;
          position: relative;
          &::before{
            position: absolute;
            border-right: 1px solid $orange;
            content: '';
            height: 45px;
            top: -57%;
            right: -20px;
          }
        }
        .nextMonth{
          cursor: pointer;
          font-size: 38px;
          position: relative;
          &::before{
            position: absolute;
            border-right: 1px solid $orange;
            content: '';
            height: 45px;
            top: -57%;
            left: -20px;
          }
        }
    }
    &-body{
        .days{
            span{
              color: #fff;
              border-radius: 50%;
              display: inline-block;
              height: 45px;
              width: 45px;
              line-height: 45px;
              cursor: pointer;
              &:hover{
                background: #f7899a;
              }
            }
        }
        .dates{
            span{
              color: #fff;
              border-radius: 50%;
              border: 1px solid $orange;
              display: inline-block;
              height: 45px;
              width: 45px;
              line-height: 45px;
              cursor: pointer;
              &.active_calendar,                       
              &:hover{
                background: $orange;
                border: 1px solid $orange;
                box-sizing: border-box;
              }
              &.ntMonth{
                color: #938e8e;
                &:hover{
                  background: #ffeef0;
                  color: #000;
                }
              }
            }
        }
    }
    &#event{
        .card-header{
            .close{
              color: #fff;
              opacity: 1;
            }
        }
        .card-body{
            .events-today{
              height: 210px;
              overflow-x: hidden;
            }
            .events-input{
                .data-invalid{
                  border-color: red;
                }
                .error{
                  font-size: 12px;
                  color: red;
                  position: absolute;
                  top: 100%;
                }
            }
        }
        
    }
}        


@media (max-width: $breakpoint-tablet) {
    .pa-sm{position: absolute;}
    .card{
        &-body{
            .days{
                span{height: 38px;width: 38px;line-height: 38px;font-size: .8rem;}
            }
            .dates{
                span{height: 38px;width: 38px;line-height: 38px;font-size: .8rem;}
            }
        }
        &#event{
            .card-body{
                .events-today{height: 188px;}
            }
        }
    }
};

.toggle{
  --uiToggleSize: var(--toggleSize, 1.25rem);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var($orange, #222);

  display: var(--toggleDisplay, inline-flex);
  position: relative;
}

.toggle__input{
  /*
    The pattern by Sara Soueidan https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
  */
  width: var(--uiToggleSize);
  height: var(--uiToggleSize);
  opacity: 0;
  
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/*
 1. Calculation of the gap for the custom checkbox
*/

.toggle__label{
  display: inline-flex;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, .4em));
}

.toggle__input:not(:disabled) ~ .toggle__label{
  cursor: pointer;
}

/*
1. Ems helps to calculate size of the checkbox
*/

.toggle__label::before, 
.toggle__label::after{
  content: "";
  box-sizing: border-box;  
  width: 1em;
  height: 1em;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.toggle__label::before{
  border: var(--uiToggleBorderWidth) solid $orange;
  z-index: 2;
}

.toggle__input:not(:disabled) ~ .toggle__label::after{
  background-color: $orange;
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::after{
  opacity: 1;
}

.toggle__text{
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 131.77%;
  color: #FFFFFF;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle

1. Ems helps to calculate size and position of the arrow
*/

.toggle__input:not(:disabled) ~ .toggle__label .toggle__text::before{
  content: "";
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize); /* 1 */

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--toggleArrowColor, #fff);

  position: absolute;
  top: .5428em;
  left: .25em;
  z-index: 3;

  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text::before{
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  
  width: .4em;
  height: .2em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
}

/*
States
*/

/* focus state */

.toggle:focus-within{
  outline: var(--toggleOutlineWidthFocus, 3px) solid var(--toggleOutlineColorFocus, currentColor);
  outline-offset: var(--toggleOutlineOffsetFocus, 5px);
}

/* disabled state */

.toggle__input:disabled ~ .toggle__label{
  opacity: var(--toggleOpacityDisabled, .24);
  cursor: var(--toggleCursorDisabled, not-allowed);
}

/*
=====
PRESENTATION STYLES
=====
*/

/* 
The demo skin
*/

.toggle__label::before, 
.toggle__label::after{
  border-radius: var(--toggleBorderRadius, 2px);
}

/* 
The animation of switching states
*/

.toggle__input:not(:disabled) ~ .toggle__label::before,
.toggle__input:not(:disabled) ~ .toggle__label::after{
  opacity: 1;
  transform-origin: center center;
  will-change: transform;
  transition: transform .2s ease-out;
}

.toggle__input:not(:disabled) ~ .toggle__label::before{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__input:not(:disabled) ~ .toggle__label::after{
  transform: rotateY(90deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label::before{
  transform: rotateY(-90deg);
  transition-delay: 0s;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::after{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__text::before{
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text::before{
  opacity: 1;
  transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
}



.toggle{
  --toggleColor: $orange;
  --toggleBackgroundColor: $orange;
}

.page__toggle{
  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
}

.page__toggle:nth-child(n+2){
  margin-top: 3rem;
}