@import 'mixins';
@import 'variables';

body.modal-open {
  overflow: visible;
}

.head_block{
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 754px;
  padding-top: 16px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 86px;
    height: 36px;
    left: 0px;
    top: 110px;
    background: $orange;
  }
  &::after{
    content: '';
    position: absolute;
    width: 358px;
    height: 36px;
    right: 0;
    top: 602px; 
    background: $orange;  
  }
}
header{
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lang_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-flex;
        font-family: 'Heading Pro';
        font-size: 16px;
        text-transform: uppercase;
        line-height: 19px;
        a{
          color: $fontColor;
          &:hover{
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
// burger

@keyframes hover {
	50% {
		transform: translateX(10px);
	}
}

.offcanvas-menu {
	> label {
		top: 16px;
		left: 10%;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: 0.3s ease;
		display: flex;
		align-items: center;
		z-index: 9999;
	}
	label {
		span,
		span::before,
		span::after {
			transition: background 0.3s, transform 0.3s;
		}
		span,
		span::before,
		span::after {
			content: "";
			position: absolute;
			height: 2px;
			width: 20px;
			background: #fff;
		}
		span::before {
      transform: translateY(-8px);
		}
		span::after {
			transform: translateY(8px);
    }
	}
	nav {
		position: fixed;
		height: 100%;
		width: 350px;
		left: -350px;
		overflow: hidden;
		background: #1E212A;
		transition: 0.3s ease;
    padding: 40px 30px;
    z-index: 9999;
    .contact{
      position: absolute;
      bottom: 15%;
      left: 20%;
      .contact_us {
        color: $orange;
        cursor: pointer;
        font-family: 'GT Walsheim Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
      }
      &::after{
        content: '';
        width: 20px;
        height: 2px;
        background: $orange;
        position: absolute;
        bottom: -15px;
        left: 0%;
      }
    }      
		> div {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			label {
				width: 30px;
				height: 30px;
				display: flex !important;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: 0.3s ease;
				span,
				span:before,
				span:after {
					background: darken($color: #fff, $amount: 70);
				}
			}
		}
		> ul {
			margin-top: 30px;
			counter-reset: nav-link-count;
			li {
				cursor: pointer;
				padding: 10px 0;
				transform: translateX(-30px);
				opacity: 0;
				transition: 0.4s ease;
				counter-increment: nav-link-count;
				a {
          color: #fff;
          text-transform: uppercase;
          display: block;
          font-family: Heading Pro;
          font-size: 35px;
          font-weight: bold;
          line-height: 62px;
          text-transform: uppercase;
          &:hover{
            color: #41475A;
            text-decoration: none;
          }
				}

				&:hover {
					animation: hover 0.5s;
				}
			}
		}
	}

	input[type="checkbox"] {
		display: none;

		&:checked {
			~ label {
				opacity: 0;
				pointer-events: none;
			}
			~ nav {
        left: 0;
        top: 0;
			}

			~ nav label span {
				background: transparent;
			}
			~ nav label span:before {
        transform: rotate(-45deg);
        background: $orange;
			}
			~ nav label span:after {
        transform: rotate(45deg);
        background: $orange;
			}
			~ nav label span:before,
			~ nav label span:after {
				transition-delay: 0.2s;
			}

			~ nav ul li {
				opacity: 1;
				transform: translateX(0px);
			}
			~ nav ul li:nth-child(1) {
				transition-delay: 0.1s;
			}
			~ nav ul li:nth-child(2) {
				transition-delay: 0.2s;
			}
			~ nav ul li:nth-child(3) {
				transition-delay: 0.3s;
			}
			~ nav ul li:nth-child(4) {
				transition-delay: 0.4s;
			}
			~ nav ul li:nth-child(5) {
				transition-delay: 0.5s;
			}
			~ nav ul li:nth-child(6) {
				transition-delay: 0.6s;
			}
			~ nav ul li:nth-child(7) {
				transition-delay: 0.7s;
			}
		}
	}
}

// main block
.main_descr {
  text-transform: uppercase;
  font-family: "Heading Pro";
  font-weight: bold;
  padding-top: 108px;
  h2{
    font-family: "Heading Pro Bold";
    font-size: 75px;
    line-height: 100px;
    color: #FFFFFF;
    &::after{
      position: absolute;
      content: '';
      width: 263px;
      height: 16px;
      background: $orange;
      top: 69%;
      left: -0px;
    }
  }
  h3{
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $orange;
  }
  .sertificate_a {
    font-size: 35px;
    line-height: 62px;
    text-decoration-line: underline;
    color: $orange;
  }
}

.main_content_wrap{
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.main_content{
  h3{
    font-family: 'Heading Pro';
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
  }
  p{
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    width: 351px;
    color: #6F7486;
    padding-top: 20px;
    &::before{
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      background: $orange;
      top: 100%;
    }
  }
}

.linkToBottom{
  position: absolute;
  bottom: 15%;
  left: 47.2%;
  font-family: 'Heading Pro';
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: rotate(-90deg);
  &:hover{
    color: $fontColor;
    text-decoration: none;
  }
}
.modal-body{
  margin-top: -40px;
}
.modal-footer{
  border-top: 0px!important;
  justify-content: center!important;
}
.modal-content{
  background-color: #292C37!important;
}
.modal-header {
  display: flex;
  align-items: center!important;
  justify-content: center!important;
  border-bottom: 0px!important;
  .close{
    padding: 0;
    margin: -3rem -1rem -1rem auto!important;
    margin-left: 0px!important;
  }
}
.modal-title{
  font-family: 'Heading Pro';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  text-align: center!important;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: $orange;
  padding-left: 40px;
  margin: 15px auto;
}
.close{
  text-shadow: none!important;
  color: $orange!important;
  font-size: 40px;
}

.btn_success{
  border: none;
  color: #fff;
  background: $orange;
  padding: 14px 73px;
  font-family: 'GT Walsheim Pro';
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  width: 270px;
  margin-bottom: 25px;
}

.modal_p{
  font-family: 'GT Walsheim Pro';
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  width: 242px;
  padding-top: 15px;
}

.input_descr{
  width: 270px;
  margin: 0 auto;
  padding-top: 30px;
  h3{
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: #fff;
  }
  input{
    border: 1px solid #FF6600;
    box-sizing: border-box;
    background: #292C37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px 16px;
    width: 100%;
    color: $orange;
    &::placeholder{
      font-family: GT Walsheim Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 131.77%;
      color: $fontColor;
    }
  }
}

.textarea_descr{
  margin: 0 auto;
  width: 270px;
  h3{
    padding-top: 40px;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 131.77%;
    color: #FFFFFF;
  }
  textarea{
    padding: 15px;
    width: 100%;
    border: 1px solid #FF6600;
    box-sizing: border-box;
    background: #292C37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $orange;
    &::placeholder{
      font-family: 'GT Walsheim Pro';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 131.77%;
    }
  }
}

.about{
  min-height: 754px;
  background: rgb(30, 33, 42, 0.5);
  .video_block{
    background-image: url('../img/video_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 754px;
    width: 100%;
    text-decoration: none;
    display: flex;
    div{
      font-family: 'Heading Pro';
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 5.76px;
      text-transform: uppercase;
      color: #FFFFFF;
      align-self: center;
      margin: 0 auto;
      &::after{
        content: '';
        position: absolute;
        background: #FFFFFF;
        width: 29px;
        height: 2px;
        left: 57%;
        top: 53%;
      }
      &::before{
        content: '';
        position: absolute;
        background: #FFFFFF;
        height: 2px;
        width: 29px;
        top: 46%;
      }
    }
  }
  .about_line{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 100px;
      height: 36px;
      background: $orange;
      bottom: 7%;
      left: 46.7%;
    }
  }
  .about_descr{
    margin: 0 auto;
    h3{
      font-family: 'Heading Pro';
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: $orange;
      width: 488px;
    }
    h2{
      font-family: 'Heading Pro';
      font-weight: 800;
      font-size: 60px;
      line-height: 75px;
      text-transform: uppercase;
      color: #FFFFFF;
      width: 488px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 36px;
        height: 13px;
        background: $orange;
        left: -5px;
        top: 35%;
      }
    }
    p{
      font-family: 'GT Walsheim Pro';
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      width: 488px;
      color: #6F7486;
    }
  }
}

.about_descr_wrap{
  display: flex;
  align-self: center;
}

.best_games{
  width: 100%;
  min-height: 754px;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background: $orange;
    bottom: -2.5%;
    left: 48.8%;
    z-index: 1;
  }
  .best_games_title{
    h3{
      font-family: 'Heading Pro';
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: $orange;
      padding-top: 80px;
    }
    h2{
      font-family: 'Heading Pro';
      font-weight: 800;
      font-size: 60px;
      line-height: 75px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 124px;
        height: 13px;
        top: 0%;
        background: $orange;
        top: 35%;
        right: 30.5%;
      }
    }
  }
  .best_games_items{
    display: flex;
    padding-top: 20px;
    .games{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 285px;
      height: 400px;
      cursor: pointer;
      position: relative;
      .games-text{
        display: none;
      }
      &:hover{
        .games-text{
          display: block;
          font-family: 'GT Walsheim Pro';
          font-weight: 300;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: $orange;
          padding: 40px 64px;
          position: absolute;
          height: 400px;
          background: rgba(30, 33, 42, 0.9);
        }
      }
      .games-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        h3{
          font-family: 'Heading Pro';
          font-weight: 800;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #FFFFFF;
          transform: rotate(-90deg);
          position: absolute;
          top: 65px;
        }
        span{
          font-family: 'Heading Pro';
          font-weight: 800;
          font-size: 24px;
          line-height: 30px;
          text-transform: uppercase;
          color: #FFFFFF;
          background: rgba(0, 0, 0, 0.4);
          backdrop-filter: blur(4px);
          border-radius: 50%;
          padding: 25px;
          position: absolute;
          right: 20px;
          top: 10px;
        }
      }
      .games-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        h3{
          font-family: 'Heading Pro';
          font-weight: 800;
          font-size: 20px;
          line-height: 25px;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
        }
        a{
          font-family: 'GT Walsheim Pro';
          font-weight: bold;
          font-size: 16px;
          line-height: 18px;
          padding: 15px 30px;
          text-align: center;
          color: #FFFFFF;
          background: $orange;
          text-decoration: none;
          z-index: 1;
        }
      }
      &:nth-child(1){
        background-image: url('../img/games1.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:nth-child(2){
        background-image: url('../img/games2.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:nth-child(3){
        background-image: url('../img/games3.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:nth-child(4){
        background-image: url('../img/games4.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.activity{
  height: 600px;
  background: rgb(30, 33, 42, 0.5);
  position: relative;
  &::after{
    content: '';
    position: absolute;
    background: $orange;
    width: 76px;
    height: 36px;
    right: 0;
    bottom: 10%;
  }
  .activity_img{
    background-image: url('../img/activity_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .activity_wrap{
    height: 600px;
    display: flex;
  }
  .activity_descr{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 514px;
    align-self: center;
    h3{
      font-family: 'Heading Pro';
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: $orange;
    }
    h2{
      font-family: 'Heading Pro';
      font-weight: 800;
      font-size: 60px;
      line-height: 75px;
      text-transform: uppercase;
      color: #FFFFFF;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 35%;
        left: -5px;
        width: 129px;
        height: 13px;
        background: $orange;
      }
    }
    p{
      font-family: 'GT Walsheim Pro';
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      color: #6F7486;
      padding: 15px 0px;
    }
    a{
      font-family: 'GT Walsheim Pro';
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: $orange;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background: $orange;
        left: 0;
        bottom: -12px;
      }
    }
  }
}

footer{
  height: 180px;
  width: 100%;
  position: relative;
  .copyright{
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #6F7486;
  }
  .email{
    font-family: 'Heading Pro';
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    color: $orange;
    padding-top: 35px;
  }
  h2{
    font-family: 'Heading Pro';
    font-weight: 800;
    font-size: 39px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #6F7486;
  }
  a{
    font-family: 'GT Walsheim Pro';
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $orange!important;
    cursor: pointer;
    &:nth-child(2){
      padding-left: 20px;
    }
  }
  &::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 36px;
    left: 45px;
    background: #FF6600;
    transform: rotate(90deg);
  }
}

.soc_block{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}