/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .main_descr_activity h2::after{
    top: 54%!important;
    left: 2%!important;
  }
  .main_descr h2::after{
    top: 75%!important;
  }
  .head_block::after{
    top: 650px!important;
  }
  .linkToBottom{
    left: 46%!important;
  }
  .about .about_line::after{
    left: 45.4%!important;
  }
  .best_games .best_games_title h2::after{
    right: 26.5%!important;
  }
  .best_games::after{
    left: 48.4%;
  }
  .game_head .game_title h2::after{
    bottom: 50% !important;
  }
  .game_head::after{
    width: 284px!important;
    top: 54.5%!important;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .faq_head::after{
    width: 200px!important;
  }
  .activity_head::after{
    width: 260px!important;
  }
  .main_descr_activity h2::after{
    left: 0!important;
  }
  .main_descr h2::after{
    top: 74%!important;
  }
  .games{
    width: 175px!important;
  }
  .about_descr > h3, .about_descr > h2, .about_descr > p{
    width: 320px!important;
  }
  .head_block::after{
    width: 200px!important;
    top: 650px!important;
  }
  .linkToBottom{
    display: none;
  }
  .about .about_line::after{
    left: 43.7%!important;
  }
  .best_games .best_games_title h2::after{
    right: 18.5%!important;
  }
  .about .video_block div::after{
    left: 64%!important;
  }
  .best_games::after{
    left: 47.8%!important;
  }
  .activity .activity_descr h2::before{
    top: 20%!important;
  }
  .team_descr{
    background-image: none!important;
  }
  .game_head::before{
    top: 65px!important;
  }
  .team_inputs{
    flex-direction: column;
  }
  .reservation_btn{
    margin-bottom: 40px;
  }
  .app_info{
    height: 70px!important;
    flex-direction: column;
  }
  .game_head .game_wrap{
    min-height: 690px!important;
  }
  .game_head .game_title h2::after{
    content: "";
    position: absolute;
    width: 260px!important;
    height: 16px;
    background: #FF6600;
    bottom: 37%!important;
  }
  .game_head::after{
    top: 55%!important;
    width: 175px !important;
  }
  .team_list ul{
    height: 610px!important;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .team_descr{
    background-image: none!important;
  }
  .game_head::before{
    top: 65px!important;
  }
  .team_inputs{
    flex-direction: column;
  }
  .reservation_btn{
    margin-bottom: 40px;
  }
  .app_info{
    height: 70px!important;
    flex-direction: column;
  }
  .game_head .game_wrap{
    min-height: 690px!important;
  }
  .game_head .game_title h2::after{
    content: "";
    position: absolute;
    width: 260px!important;
    height: 16px;
    background: #FF6600;
    bottom: 37%!important;
  }
  .game_head::after{
    top: 59%!important;
  }
  .faq_descr_activity p{
    width: 310px!important;
  }
  .faq_head::after{
    display: none;
  }
  .faq_descr_activity h2::after{
    top: 46%!important;
  }
  .main_descr_activity p{
    text-align: justify;
  }
  .activity_team .team_wrap .team_descr, .activity_team_2 .team_wrap .team_descr{
    padding-left: 0!important;
    text-align: justify;
  }
  .activity_team .team_wrap::before{
    right: 0!important;
  }
  .main_descr_activity h2{
    font-size: 69px!important;
  }
  .activity_head::after{
    width: 150px!important;
    right: 0;
  }
  .main_descr_activity h2::after{
    left: 10!important;
    width: 350px!important;
  }
  .best_games .best_games_title h2::after{
    top: 70%!important;
    right: 30.5%!important;
  }
  .best_games .best_games_title h3{
    padding-top: 20px!important;
  }
  .about .about_descr h3{
    padding-top: 20px;
  }
  .about .about_line::after{
    display: none;
  }
  .main_content p{
    width: 100%!important;
  }
  .main_descr h2::after{
    top: 74%!important;
  }
  .head_block::after{
    width: 70px!important;
  }
  .linkToBottom{
    display: none;
  }
  .best_games_items {
    flex-direction: column;
    align-items: center;
  }
  .about_line{
    flex-direction: column;
  }
  .about_descr > h3, .about_descr > h2, .about_descr > p{
    width: 320px!important;
  }
  .about_descr_wrap{
    align-self: start!important;
  }
  .best_games::after{
    display: none;
  }
  .activity .activity_descr h2::before{
    top: 20%!important;
  }
  .offcanvas-menu > label{
    position: fixed;
  }
  .games{
    width: 285px!important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .main_descr_activity h2{
    font-size: 58px!important;
  }
  .main_descr_activity h2::after{
    width: 310px!important;
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}