@import "variables";
@import "mixins";
@import "main";
@import "activity";
@import "faq";
@import "game";
@import "~bootstrap/scss/bootstrap";
@import "./media.css";

@font-face {
  font-family: "Heading Pro";
  src: url('../fonts/HeadingPro-Regular.ttf')
}

@font-face {
  font-family: "Heading Pro Bold";
  src: url('../fonts/HeadingPro-Bold.ttf')
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url('../fonts/GTWalsheimPro-Regular.ttf')
}

body {
  background-color: #252833;
  background-size: 22% 100%;
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, rgba(218, 218, 218, 0.1) 1px, transparent 1px);
  background-position: 35.9%;
}
body.modal-open {
  overflow: visible;
}

.active{
  a {
    color: $fontColor!important;
  }
  &::after{
    position: absolute;
    content: '';
    width: 125px;
    height: 8px;
    background: $orange;
    top: 45%;
    left: -15px;
  }
}

